@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--text-color: #646464;
	--background: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--text-color: #e0e0e0;
		--background-end-rgb: 0, 0, 0;
	}
} */

body {
	color: rgb(var(--text-color));
	background: rgb(var(--background));
	font-family: var(--font-sfpro);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.gradient-text {
	@apply text-transparent bg-clip-text bg-gradient-to-r from-[#7860BC] to-[#9880DC];
}

.username-xl {
	max-width: 60%;
}

.username-lg {
	max-width: 50%;
}

.username-2xl {
	max-width: 80%;
}
