@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--text-color: #646464;
	--background: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--text-color: #e0e0e0;
		--background-end-rgb: 0, 0, 0;
	}
} */

body {
	color: rgb(var(--text-color));
	background: rgb(var(--background));
	font-family: var(--font-sfpro);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
